.container {
    background-color: #f5f5f5;
    position: absolute;
    width: 85%;
    height: 80%;
    top: 10%;
    left: 8%;
    border: 1px solid darkgray;
  }

  .favorites{
      width: 90%;
      height: 90%;
      overflow: auto;
      margin: auto;
      margin-top: 3%;
      padding-top: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  app-weather-card{
    width: 15%;
    height: 50%;
  }

  @media (max-width: 640px) {
    app-weather-card{
        width: 90%;
        height: unset;
      }
  }