<div class="container">
    <div class="favorites">
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
            <app-weather-card></app-weather-card>
    </div>
</div>