nav{
    background-color: #0277bd;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}



a:link, a:active, a:visited{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.link{
    padding:0rem 1rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.link i{
    vertical-align: -.1em;
}