.container {
  background-color: #f5f5f5;
  position: absolute;
  width: 85%;
  height: 80%;
  top: 10%;
  left: 8%;
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.search-city {
  width: 35%;
  font-size: 2rem;
}

.search-city form{
  display: inline-block;
  width: 60%
}

.search-city button{
  margin-left: 1rem;
}

.todays-weather-favorite {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-city-container {
  margin-left: 3rem;
  display: flex;
}

.weather-icon{
    display: flex;
    justify-content: center;
}

.city-degree{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.city-degree span {
  display: block;
}

.favorite {
  margin-right: 3rem;
}

.progress-spinner mat-spinner{
  margin: auto;
}

.weeklyWeatherStatus{
  font-size: 2rem;
}

.weather-days{
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 50%;
  margin: auto;
  justify-content: space-around
}

app-weather-card{
  width: 17%;
}

@media (max-width: 640px) {
  .weather-days{
    flex-direction: column;
    height: 60%;
    overflow: auto;
    justify-content: unset;
  }

  .search-city {
    width: 80%;
    font-size: 1.5rem;
  }

  .search-city button{
    margin-left: 2rem;
  }

  .todays-weather-favorite{
    margin-top: 2rem;
  }

  .city-degree{
    font-size: 1.5rem
  }

  app-weather-card{
    width: 100%;
  }
}