<div class="container">
  <div class="search-city">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <input formControlName="locationName" type="text" matInput placeholder="Enter City Name"
          (keypress)="getLocationName()" [matAutocomplete]="auto">

        <mat-icon matSuffix (click)="getWeather()"><i class="material-icons">search</i></mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let location of locationNameSuggestion" [value]="location.LocalizedName">
            {{ location.LocalizedName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error *ngIf="locationNameDoseNotExist">Location name not found</mat-error>
    </form>
    <button mat-raised-button color="primary" (click)="getWeather()">Search</button>
  </div>
  <div class="todays-weather-favorite">
    <div class="icon-city-container">
      <div class="weather-icon">
        <img [src]="weatherIcon" alt="icon">
      </div>
      <div class="city-degree">
        <span>{{locationName}}</span>
        <span>{{temperature}}c</span>
      </div>
    </div>
    <div class="favorite">
      <button mat-fab (click)="addToFavorites()">
        <mat-icon [ngClass]="{'color-favorite':isFavorite}">favorite</mat-icon>
      </button>
    </div>
  </div>
  <div class="progress-spinner" *ngIf="fetchingForecast">
      <mat-spinner></mat-spinner>
  </div>
  
  <div class="weeklyWeatherStatus" *ngIf="!fetchingForecast">
      <span>{{weeklyWeatherStatus}}</span>
    </div>
  <div class="weather-days" *ngIf="!fetchingForecast">
    <app-weather-card  *ngFor="let dailyForecast of forecast" [dailyForecast]="dailyForecast"></app-weather-card>
  </div>
</div>
