<div class="container">
  <div class="search-city">
    <form>
      <mat-form-field>
        <input type="text" matInput placeholder="Enter City Name">
        <mat-icon matSuffix><i class="material-icons">search</i></mat-icon>
      </mat-form-field>
    </form>
  </div>
  <div class="todays-weather-favorite">
    <div class="icon-city-container">
      <div class="weather-icon">
        <img src="" alt="icon">
      </div>
      <div class="city-degree">
        <span>Tel-aviv</span>
        <span>39c</span>
      </div>
    </div>
    <div class="favorite">
      <button mat-fab>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
  <div class="weather-days">
      <app-weather-card></app-weather-card>
      <app-weather-card></app-weather-card>
      <app-weather-card></app-weather-card>
      <app-weather-card></app-weather-card>
      <app-weather-card></app-weather-card>
  </div>
</div>
